<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="index.css" />
  <title>Task-Manger-App</title>
</head>

<body>
  <ul>

    <li><a href="#">Home</a></li>
    <li><a href="#">About</a>
      <ul>
        <li><a href="">Team</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">About me </a></li>
      </ul>
    <li><a href="#">Contact</a>
      <ul>
        <li><a href="">Email</a></li>
        <li><a href="">Phone</a></li>
        <li><a href="">Tiwttwer</a></li>
        <li><a href="">github</a></li>
      </ul>
    </li>

    <li><a href="">Services</a></li>
    <li><a href="">Projects</a></li>

    </li>
  </ul>

  <h1>CONTENT BOXES</h1>
  <div class="container" >
    <div class="box"></div>
    <div class="box"></div>

  </div>
</body>

</html>